APScheduler==3.6.3
cachetools==4.2.2
certifi==2026.4.22
colorama==0.4.6
geographiclib==1.52
geopy==2.0.0
globals==0.3.36
importlib_resources==6.5.2
numpy==2.0.2
pygame==2.6.1
python-dateutil==2.9.0.post0
python-helper==0.3.74
python-telegram-bot==13.15
pytz==2026.1.post1
six==1.17.0
spglib==2.7.0
tornado==6.1
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
zipp==3.23.1